$component: ".header";
#{$component} {
	&__item {
		position: fixed;
		top:0;
		left:0;			
	}
	&__item:first-of-type,
	&__item:last-of-type {
		width: 100%;
		text-align: center;
	}
	&__item:nth-of-type(3) {
		left: unset;
		right: 0;
	}
	&__item:nth-of-type(2),
	&__item:nth-of-type(3) {
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;		
	}
	&__item:nth-of-type(2) span {
		transform: rotate(270deg);
	}
	&__item:nth-of-type(3) span {
		transform: rotate(90deg);
	}
	&__item:last-of-type {
		top: unset;
		bottom: 0;
	}
}