body {
  width: 100%;
  font-size: 2rem;
  position: relative;
  .show {
  	opacity: 1;
    height: 100%;
  }
  .hide {
  	opacity: 0;
    height: 0;
    overflow: hidden;
  }
  > div {
    height: 100%;
    width: 100%
  }
}